.jumbotron {
    background-color: lightblue;
	opacity: 0.6;
    color:navyblue;
  }
  .btn-comprar {
    width: 100%;
  }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: lightblue;
    margin-bottom: 0px;
    margin-top: 10px;
  }
    